// Primary Colors
$blue: #0f162d;
$purple: #ca59ff;
$violet: #272d42;
$aqua: #2affff;
$yellow: #fff629;

// Secondary Colors
$white: #fff;
$black: #000;

// Fonts Size
$base-font: 14px;

// Rounding Styles
$roundBig: 24px;
$roundSmall: 16px;
